@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer localizer

<h1>Bu başlık Home Index Başlığı olarak değiştirildi.!</h1>

<div class="text-center">
    <h1 class="display-4">@localizer["Hello"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


